.colorsSquares {
    background-color: blue;
    width: 10px;
    height: 10px;
    margin: 10px;


.purple{
    background-color: purple;
}

.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
}
